<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feli.ghost" >

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainGameActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main_game" >
        </activity>
        <activity
            android:name=".HowToActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_how_to" >
        </activity>
        <activity
            android:name=".HighscoresActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_highscores" >
        </activity>
        <activity
            android:name=".PickPlayerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_pick_player" >
        </activity>
        <activity
            android:name=".WinScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_win_screen" >
        </activity>
        <activity
            android:name=".GetOldPlayerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_get_old_player" >
        </activity>
    </application>

</manifest>
